html {
  font-family: 'Plus Sans Jakarta', sans-serif !important;
}

.v-application {
  font-family: 'Plus Jakarta Sans', sans-serif !important;

  .v-main {
    font-family: 'Plus Jakarta Sans', sans-serif !important;

    .text-h1 {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
      font-size: 120px !important;
    }
  
    .text-h2 {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
    }
  
    .text-h3 {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
    }
  
    .text-h4 {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
    }
  
    .text-h5 {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
    }
  
    .text-h6 {
      font-family: 'Plus Jakarta Sans', sans-serif !important;
    }
  }
}
